<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KVNSharedKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)su.24kvn.app.shared</string>
	<key>SecureLinkSourceRevision</key>
	<string>7cce16b-dirty</string>
</dict>
</plist>
